#map {
	height: 768px;
}

.leftBlockWrapper {
	position: fixed;
	z-index: 2;
	top: 50px;
	left: 30px;
	width: 350px;
	padding: 25px 15px;
	box-shadow: 0 0 10px black;
	background: rgba(255, 255, 255, 0.85);

}

.inputForm input[type='number'],
.algorithmForm input[type='number'] {
	width: 60px;
}

.inputFieldsContainer {
	overflow-y: scroll;
	height: 400px;
}

.accidents {
	display: none;
}

.hr {
	width: 100%;
	height: 1px;
	margin: 5px 0;
	background: #aaa;
}

.helpButton {
	float: right;
	transition: opacity 0.5s;
}

.helpButton:hover {
	cursor: pointer;
}

.help {
	opacity: 0;
	position: fixed;
	z-index: 2;
	top: 50px;
	left: 420px;
	/*min-width: 30%;*/
	max-height: 500px;
	height: 0px;
	width: 300px;
	overflow-y: scroll;
	padding: 15px;
	box-shadow: 0 0 10px black;
	background: rgba(255, 255, 255, 0.85);
	transition: opacity 1s, height 1s;
}

.helpButton:hover::after {
	content: "Открыть справку";
	position: absolute;
	top: 10px;
	left: 220px;
	width: 200px;
}

.close {
	float: right;
}


.algoRes {
	position: fixed;
	z-index: 2;
	top: 50px;
	right: 30px;
	width: 350px;
	padding: 25px 15px;
	box-shadow: 0 0 10px black;
	background: rgba(255, 255, 255, 0.85);
}

.algoRes .allDistancesWrapper {
	overflow-y: scroll;
	height: 350px;
}

.algorithmAlert {
	position: fixed;
	z-index: 999;
	display: none;
	opacity: 0;
	top: 10px;
	right: 10px;
	width: 400px;
}
