<form class="algorithmForm" style="display: none;">
	<!-- <div class="hideButton" data-title="Свернуть/развернуть окно"><i class="fa fa-minus"></i></div> -->
	<div class="helpButton"><i class="fa fa-question fa-2x"></i></div>
	<h3>Параметры алгоритма и измерения времени</h3>

	<div class="inputFieldsContainer">

		<p>Время обслуживания одного объекта (в часах)</p>
		<input type="number" class="form-control" name="serviceTime" min="1" max="10" value="1"></input>

		<div class="hr"></div>

		<p>Количество часов в рабочем дне бригады</p>
		<input type="number" class="form-control" name="workTime" min="8" max="10" value="8"></input>

		<div class="hr"></div>

		<p>Время передвижения по дорогам определяется исходя из средней скорости передвижения, равной 60 км/ч</p>

		<div class="hr"></div>

		<p>Количество муравьёв для обхода</p>
		<input type="number" class="form-control" name="antsCount" min="1" max="10" value="1"></input>

		<div class="hr"></div>

		<p>Коэффициент α</p>
		<input type="number" class="form-control" name="alpha" min="-10" max="10" value="2"></input>

		<div class="hr"></div>

		<p>Коэффициент β</p>
		<input type="number" class="form-control" name="beta" min="-10" max="10" value="9"></input>

		<div class="hr"></div>

		<p>Коэффициент испарения феромона</p>
		<input type="number" class="form-control" name="persistance" min="0.1" max="1" value="0.8" step="any"></input>

		<div class="hr"></div>

		<p>Число итераций алгоритма</p>
		<input type="number" class="form-control" name="iterations" min="10" max="100" value="10"></input>

		<div class="hr"></div>

	</div>
	<input type="submit" class="btn btn-primary" value="Запустить алгоритм"></input>
	<button class="btn btn-danger backBtn">Вернуться назад</button>
</form>
