<div class="algoRes" style="display: none;">
	<h3>Результаты работы</h3>
	<ul class="nav nav-tabs clustersList">
		
	</ul>
	<h4>Итерации и итоговые расстояния</h4>
	<div class="allDistancesWrapper">
		<table class="table allDistances">
			<tr>
				<th>#</th>
				<th>Длина пути (км)</th>
				<th>Время</th>
			</tr>
		</table>
	</div>
</div>
