<div class="help">
	<div class="close"><i class="fa fa-times"></i></div>
	<h1>Помощь</h1>
	<p>Для того, чтобы сгенерировать карту объектов, заполните необходимые данные в форме и нажмите кнопку "Сгенерировать карту объектов".</p>
</div>
