<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>coursework</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/leaflet-routing-machine.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
</head>
<body>
    <div class="leftBlockWrapper">
        {% include "input_form.html" %}
        {% include "algorithm_form.html" %}
    </div>
    {% include "help.html" %}
    {% include "algorithm_res.html" %}
    <div id="map"></div>
    <div class="alert alert-warning algorithmAlert">
        Пожалуйста подождите, пока алгоритм завершит работу...
    </div>
    <script src="{{ url_for('static', filename='js/jquery-2.1.4.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/leaflet.js') }}"></script>
    <script src="{{ url_for('static', filename='js/leaflet-routing-machine.js') }}"></script>
    <script src="{{ url_for('static', filename='js/routes_control.js') }}"></script>
    <script src="{{ url_for('static', filename='js/view_control.js') }}"></script>
</body>
</html>
