<form class="inputForm">
	<!-- <div class="hideButton" data-title="Свернуть/развернуть окно"><i class="fa fa-minus"></i></div> -->
	<div class="helpButton"><i class="fa fa-question fa-2x"></i></div>
	<h3>Генерация карты</h3>

	<div class="inputFieldsContainer">

		<p>Введите количество объектов ремонта</p>
		<input type="number" class="form-control" name="aCount" min="20" max="100" value="20"></input>

		<div class="hr"></div>

		<p>Введите количество ремонтных бригад</p>
		<input type="number" class="form-control" name="bCount" min="1" value="1"></input>

		<div class="hr"></div>

		<!-- <p>Минимальное и максимальное время обслуживания одного объекта:</p>
		<input type="number" name="minServiceTime" min="0" value="0"></input>
		<input type="number" name="maxServiceTime" min="0" value="0"></input>

		<div class="hr"></div>

		<p>Максимальный интервал между посещениями объектов:</p>
		<input type="number" name="interval" min="0" value="0"></input>

		<div class="hr"></div> -->

	<!-- 	<input type="checkbox" class="accidentsCheckbox" name="accidents">Смоделировать аварии</input>
		<div class="accidents">
			<p>Количество аварий:</p>
			<input type="number" name="accidentsCount" min="0" value="0"></input>
		</div> -->

	</div>
	<input type="submit" class="btn btn-primary" value="Сгенерировать карту объектов"></input>
</form>
